<header class="usa-site-header">
  <div class="usa-disclaimer">
    <div class="usa-grid">
      <span class="usa-disclaimer-official">
        <img class="usa-flag_icon" alt="U.S. flag signifying that this is a United States federal government website" src="/assets/img/us_flag_small.png">
        An official website of the United States government
      </span>
      <span class="usa-disclaimer-stage">This site is currently in alpha. <a href="https://18f.gsa.gov/dashboard/stages/#alpha">Learn more.</a></span>
    </div>
  </div>

  <nav id="navbar" class="usa-site-navbar">
    <div class="usa-grid">
      <div class="usa-width-one-half">
        <h1 class="logo"><a title="Home" aria-label="Home" href="{{ site.baseurl }}/">{{ site.title }}</a></h1>
      </div>
      <div class="usa-width-one-half">
        <ul class="subnav usa-unstyled-list">
          {% for my_page in site.pages %}
            {% if my_page.title %}
            <li class="subnav_item"><a class="subnav_link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
          {% endfor %}
        </ul>
      </div>
    </div>
  </nav>
</header>
